
 div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div#chart svg g g.axis g.tick text{
	font-size: 16pt;
}

h1{
	background-color: #1F77B4;
	max-width: 100%;
	margin: 0 auto;
	color: white;
}


.infoHeader{
		color:Blue;
		font-family: "PT Sans", Corbel,sans-serif;
		font-size: 12px;
		width: 100%;
}
#map {
      width:100%;
      height:475px;
			padding: 0;

    }

	#clusterMap {
			padding: 0;
		    }


#chart,#quarter,#hour-chart,#map,#timechart,#outage-table{
	border-radius: 10px;
	background-color: white;
	padding: 5px;
	border: 1px solid lightgray;
}

		body, html {
			height: 100%;
			margin: 0;
			padding: 0;
			font-family:  "PT Sans", sans-serif;
			background-color: #eeeeee;
		}

		.dc-data-count small {
		  font-size: 16px;
		}

		.container-fluid {
		  padding-left: 40px;
		  padding-right: 40px;
		}

		.pie-chart {
		  height: 150px;
		}

		.dc-chart .axis text{
		  font-size: 12px;

		}

		text {
		  font-size: 16px;
		}



		tr {
	width: 100%;
	display: inline-table;
	table-layout: fixed;
	}

	table{
	 height:228px;              // <-- Select the height of the table
	 display: -moz-groupbox;
	 font-size: 12px;
	 margin-left: 2px;

	}
	tbody{
	  overflow-y: scroll;
	  height: 200px;            //  <-- Select the height of the body
	  width: 100%;
	  position: absolute;
	}

  .leaflet-popup-content p {
      margin: 0.2em 0;
  }

#control-row {
  padding-bottom: 20px;
}

a { cursor: pointer }
